header{
    background-color: #192633;
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
header .logo img{
    height: 50px;
    width: 50px;
}
header a{
    text-transform: uppercase;
    color: white;
    transition: 0.2s;
}
header a:hover{
    color: #b08c4d;
}
header ul li{
    display: inline-block;
    padding: 0 20px;
}
.logo {
    height: 100%;
}

.logo h1 a{
    display: flex;
    height: 100%;
    align-items: center;
}
.menu{
    display: none;
}
.cart-icon{
    position: relative;
}
.cart-icon span{
    background: #b08c4d;
    border-radius: 19px;
    color: #192633;
    position: absolute;
    top: 18px;
    right: 6.9px;
    padding: 2px 5px;
    font-size: 10px;
}